@model Usuarios

            <tr>
                <td>@Model.NombreUsuario</td>
                <td>@Model.ApellidoUsuario</td>
                <td>@Model.UserName</td>
                <td>@Model.Contraseña</td>
                <td>@Model.fechacreacion</td>
                <td>@Model.UsuariosInactivos</td>
                <td>@Model.ListaNegra</td>
            </tr>
        